@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
  url(../fonts/cuprum.woff) format("woff"),
  url(../fonts/cuprum.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold"),
  url(../fonts/cuprumbold.woff) format("woff"),
  url(../fonts/cuprumbold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold Italic"),
  url(../fonts/cuprumbolditalic.woff) format("woff"),
  url(../fonts/cuprumbolditalic.woff2) format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Italic"),
  url(../fonts/cuprumitalic.woff) format("woff"),
  url(../fonts/cuprumitalic.woff2) format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
  url(../fonts/ptsans.woff) format("woff"),
  url(../fonts/ptsans.woff2) format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
  url(../fonts/ptsansbold.woff) format("woff"),
  url(../fonts/ptsansbold.woff2) format("woff2");
  font-weight: bold;
}


img {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.main-header {
  font-family: Cuprum, Arial, sans-serif;
}

.top-menu {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
}

.top-menu a {
  color: inherit;
  text-decoration: none;
}

.top-menu .logo {
  height: 47px;
  width: 220px;

  display: block;

  font-size: 1px;
  color: transparent;

  background: #EE3643 url("../img/logo-technomart.svg") no-repeat 50%;
}

.nav-search input {
  background-color: transparent;
  border: none;
}

.checkout {
  background-color: #669933;
}

.head {
  background-color: #f3f7f8;
}

.head-description {
  font-family: Cuprum, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.head-center {
  text-align: center;
}

.head-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-decoration: none;
}

.head-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.enter ul {
  list-style: none;
}

.head-button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}

.profile ul {
  list-style: none;
}

.head-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.main-nav {
  background-color: #32425c;
}

.main-nav ul {
  list-style: none;
}

.nav-link {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}

.main-content {
  background-color: #ffffff;
}


